
.btn:hover{

        border: 1px solid #303030;
}

.btn-color-primary{
    display: block;

    margin-left: auto;
    margin-right: auto;
    
    padding: .5rem 1.5rem;
    
    background-color: #303030;
    color: #fff;
    font-weight: 600;
    
    border-radius: 1rem;
    
    text-transform: uppercase;

}

.btn-color-secundary{
    display: block;
    margin: auto;
    padding: .5rem 1.5rem;
    
    background-color: #6BE058;
    color: #fff;
    font-weight: 600;
    
    border-radius: 1rem;
}


.title{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    position: relative;
    padding-left: .5rem;
    
    font-weight: bold;

    text-transform: uppercase;

}

.title::before{

    content: '';
    display: block;
    
    width: 3px;
    height: 100%;
    
    background-color: #6BE058;
    
    position: absolute;
    top: 0;
    left: 0;

}

.title--secundary::before{
    
    background-color: #fff;


}

hr{
    color: #6BE058;
    opacity: .5;
}



.animation{
    opacity: 1;
    animation: animationOpacity .8s forwards;

}

.animation--1{
    animation-delay: 0s;
}

.animation--2{
    animation-delay: .4s;

}
.animation--3{
    animation-delay: .8s;

}

@keyframes animationOpacity {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}